body {
    background-color: #dedede;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

h2 {
    text-align: center;
    font-family: Arial, sans-serif;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
    font-size: 25px;
    font-family: Arial, sans-serif;
    text-align: center;
}

img {
    width: 100%;
}

div img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

/* Base / Mobile View (< 772px): 1 Column */
div {
    width: 100%;
    margin: 10px auto;
    padding: 2px;
    box-sizing: border-box;
    text-align: center;
}

main {
    text-align: center;
}

/* Tablet View (min-width: 772px): 2 Columns */
@media screen and (min-width: 772px) {
    div {
        width: 45%;
        display: inline-block;
        margin: 1%;
        vertical-align: top;
    }

    img {
        max-height: 30%;
        max-height: 30vh;
    }
}

/* Large Screen View (min-width: 998px): 3 Columns */
@media screen and (min-width: 998px) {
    div {
        width: 30%;
    }
}